.cms-container {
  width: 100%;
  height: 100%;
  background-color: $black;
  overflow: hidden;
  position: relative;

  .section {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $white;
    -webkit-box-shadow: 0px -10px 22px -8px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px -10px 22px -8px rgba(0,0,0,0.29);
    box-shadow: 0px -10px 22px -8px rgba(0,0,0,0.29);
    transition: top 500ms ease-in-out, height 500ms ease-in-out;

    .section-content {
      position: relative;
      width: 100%;
      height: 100%;
      margin-bottom: 50px;
    }

    button { width: 100%; }

    .title {
      padding: 50px 30px 30px 30px;
      text-align: left;
      font-family: Ostrich Sans;
      width: 100%;
      font-size: 18vw;

      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      transition: padding 500ms ease-in-out, font-size 500ms ease-in-out;

      &.white {
        color: $white;
      }
    }

    &:hover {
      color: $green;
    }

    &.home {
      top: 0;
      color: $white;
      background-color: $black
    }
    &:nth-child(2) { top: 25%; }
    &:nth-child(3) { top: 50%; }
    &:nth-child(4) { top: 75%; }
    &.Pizza, &.Antipasti, &.Drinks, &.After { top: 100%; }

    &.active {
      top: 5%;
      height: 95%;
      &:hover {
        color: unset;
        cursor: unset;
      }

      .title { padding-top: 30px; }
      .Pizza {
        top: 20%;
        &.active {
          top: 5%; overflow-y: scroll;
          .section-content {
            overflow-x: hidden;
          }
        }
      }
      .Antipasti { top: 40%; &.active { top: 5%; }}
      .Drinks { top: 60%; &.active { top: 5%; }}
      .After { top: 80%; &.active { top: 5%; }}
    }

    &.inactive {
      top: 110%;

      &.Pizza { top: 110%; }
      &.Antipasti { top: 110%; }
      &.Drinks { top: 110%; }
      &.After { top: 110%; }
    }

    &.home {
      &.inactive {
        top: 0;
        .title {
          padding-top: 10px;
          font-size: 5vw;
        }
      }
    }

    .cms-item {
      position: relative;
      border-top: 5px $black solid;
      padding: 30px 0px 12px 30px;
      transition: transform 500ms ease-in-out;

      .more-menu {
        position: absolute;
        top: -5px;
        bottom: 0;
        right: -226px;
        width: 300px;
        background-color: red;
        border-top: 5px black solid;

        .cta {
          width:  75px;
          height: 100%;
          background-color: $white;

          &.edit {
            background-color: $green;
            fill: $white;
          }

          &.delete {
            background-color: $red;
            fill: $white;
          }

          &.move {
            background-color: $black;
            fill: $white;
          }
        }
      }
    }
  }
}
