.desk-svg-container {
  z-index: 2;
  position: absolute;
  top: 16px;
  left: -70px;
  width: 45px;
  height: 45px;
  padding: 10px;

  &:hover {
    cursor: pointer;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: inherit;
  }

  .deskNavHam {
    transition: all 300ms linear;
    opacity: 1;
  }

  .deskNavX {
    opacity: 0;
    transform: rotate(0deg) scale(0, 0);
    position: absolute;
    top: 11px;
    width: 15px;
    height: 15px;
    left: 11px;
    transition: all 300ms linear;
  }

  &.open {
    .deskNavHam {
      transform: rotate(180deg) scale(0, 0);
      opacity: 0;
    }
    .deskNavX {
      transform: rotate(180deg) scale(1, 1);
      opacity: 1;
    }
  }
}
