.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 60px 0;
  position: relative;
  background-color: $black;

  &.homePage {
    height: 100vh;
  }

  .home-radial-grad {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    opacity: .7;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
    background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .home-content {
    padding: 0 5%;
    z-index: 1;
    text-align: center;

    svg { width: 95%; }

    .homeText {
      font-size: 4vw;
      max-width: 1000px;
      margin: 0 auto;
      margin-top: 10px;
      padding: 0 10px;
      line-height: initial;

      @include respond-above($small) {
        font-size: 25px;
        margin-top: 0px;
      };
    }

    .homeInfo {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px 0;
      @include respond-above($small) {
        margin: 40px 0;
      };
    }

    .home-bottomContent {
      min-height: 150px;
    }
  }
}
