.home-btn-container .btn {
  margin: 0 15px 20px;
  @include respond-above($small) {
    margin: 0 15px 30px;
  }
}

.comingSoon {
  font-size: 7vw;
  @include respond-above($small) {
    font-size: 58px;
  }
}
