.home-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $white;

  .home-content {
    position: absolute;
    padding: 5%;
    top: 40%;
    transform: translateY(-50%);
    @include background-gradient(0.5);

    @include respond-above($small) {
      top: 45%;
      @include background-gradient(0.8);
    };
    
    .clock-numbers {
      display: inline-block;
    }

    .clock-letters {
      display: inline-block;
      margin-right: 15px;
    }
  }
}
