.menu-section {
  overflow: hidden;
  margin-bottom: 20px;
  padding: $layoutSpacing $layoutSpacing 0 $layoutSpacing;

  li {
    letter-spacing: 0.05rem;
    font-size: 1em;
    line-height: 1.2rem;
  }

  .section-description {
    margin-bottom: 10px;
  }

  .headerPre {
    display: none;
    @include respond-above($small) {
      margin-right: 15px;
      display: inline;
    };
  }

  .item-price {
    position: relative;
    float: right;
    letter-spacing: -3px;
    padding-right: 3px;

    &:after {
      position: absolute;
      content: "$";
      top: 5px;
      left: -12px;
      font-size: .6em;
    }
  }

  .menu-item {
    margin: 12px 0;
    li { margin-bottom: 12px; }
  }

  .headline {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  hr {
    display: none;
  }
}

.menu-image {
  height: 330px;
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
}

.happyHourMenu {
  .menu-section {
    padding: 0;
    @include respond-above($small) {
      padding: 30px 30px 0 30px;
    };
    &:first-of-type {
      padding-left: 0;
    }

    .menu-item {
      padding-right: 2px;
    }
  }

  .section-description {
    padding-left: 30px;
  }
}

button#mic-access-tool-general-button.mic-access-tool-general-button {
  top: unset;
  bottom: 7px;
  left: 7px;
}

.sticky-inner-wrapper {
  padding-left: 15px;
}

.activeDropShadow {
  .sticky-inner-wrapper {
    -webkit-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.27);
    box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.27);
    z-index: 10;
    padding-left: 0;
  }
}
