.menu-section {
  overflow: hidden;
  margin-bottom: 20px;
  padding: $layoutSpacing $layoutSpacing 0 $layoutSpacing;

  .section-description {
    margin-bottom: 10px;
  }

  .menu-item {
    margin: 12px 0;

    .item-price {
      position: relative;
      float: right;
      &:after {
        position: absolute;
        content: "$";
        top: 3px;
        left: -13px;
        color: $gray;
        font-size: 2rem;
      }
    }
  }
}

.menu-image {
  width: 100%;
  height: auto;
}
