.photo-grid-section {
  height: auto;
  width: 100vw;
  padding: $layoutSpacing;
  position: relative;
  overflow: hidden;
  @include respond-above($small) {
    height: auto;
    background-color: $black;
    margin: $layoutSpacing 0;
    padding: 0;

    h3 {
      display: none;
    }
  };

  hr {
    margin-bottom: 30px;
    @include respond-above($small) {
      display: none;
    }
  }

  .photo-scroll {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 -30px;

    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    @include respond-above($small) {
      white-space: normal;
      margin: 0;
      overflow: hidden;
    };
  }

  .photo-button {
    height: 157px;
    width: 265px;
    opacity: 1;
    margin-left: 30px;
    background-position: top center;
    background-size: 152%;
    background-repeat: no-repeat;

    &:last-of-type { margin-right: 30px; }

    @include respond-above($small) {
      background-position: center;
      width: 25vw;
      height: 25vw;
      float: left;
      margin: 0;
      opacity: 0.8;
      transition: opacity 500ms ease-in-out;

      &:last-of-type { margin-right: 0; }
    };

    &:hover { opacity: 1; }
  }

  .photo-light-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: $black;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transform: scale(0.8) translate3d(0,0,0);
    transition: visibility 0ms linear 500ms, opacity 500ms ease, transform 300ms ease-in-out;

    &.show {
      visibility: visible;
      opacity: 0.95;
      transform: scale(1.0) translate3d(0,0,0);
      transition: opacity 500ms ease-in-out, transform 300ms ease-in-out;

      .display-photo {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80%;
        transform: translate(-50%, -50%);
      }

      .close {
        position: absolute;
        bottom: 2%;
        width: 100%;
        font-size: 20px;
        opacity: 0.4;

        @include respond-above($small) {
          bottom: 4%;
        };
      }
    }
  }
}
