.press-section {
  padding-top: $layoutSpacing;
  height: 40vh;

  hr {
    margin-bottom: 30px;
  }
  .press-scroll {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 -30px;

    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .press-item {
    height: 157px;
    width: 265px;
    background-color: $black;
    color: $white;
    position: relative;
    display: inline-block;
    margin-left: 30px;

    &:last-of-type {
      margin-right: 30px;
    }

    .press-content {
      position: absolute;
      height: 58%;
      width: 100%;
      bottom: 0;
      padding: 0 20px;
      p {
        white-space: normal;
      }
    }

    &:hover {
      color: $green;
    }
  }
}
