*, *:before, *:after {
  box-sizing: border-box;
}

// Highlights
::selection {
  background: $red;
  color: $white;
}

::-moz-selection {
  background: $red;
  color: $white;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  overflow-x: hidden;
}

body {
  font-family: Ostrich Sans;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

a {
  color: $red;
  font-weight: 900;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $black;
  }
}

ul {
  padding-left: 1px;
}

h1 {
  font-size: 20vw;
  @include respond-above($large){ font-size: 15vw };
  @include respond-above(2000px){ font-size: 12vw };
 }
h2 {
  // font-size: 15vw;
  font-size: 58px;
 }
h3 {
  // font-size: 10vw;
  font-size: 38px;
}
h4 {
  // font-size: 9vw;
  font-size: 34px;
 }
h6 {
  font-size: 6vw;
  @include respond-above($large){ font-size: 4vw };
  @include respond-above(2000px){ font-size: 3vw };
 }
p, li {
  letter-spacing: 0.05rem;
  font-size: 1em;
 }
li { margin: 5px 0;}

.bold {
  font-weight: 900;
}

.green {
  color: $red;
}

hr {
  border-color: $red;
  margin-top: 3px;
}
